.Home-container {
    padding: 3%;
    text-align: center;
}

.rsvp-btn-container {
    text-align: center;
    padding: 3%;
}

.btn-primary {
    background-color: #1EAEDB !important;
    border: 1px solid #1590b7 !important;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}